.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: large;
}
label {
  margin: 1rem;
  font-size: x-large;
  font-weight: bold;
}
input {
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 12px;
  width: 19rem;
  font-size: large;
}

.btn {
  margin-top: 2rem;
  padding: 0.8rem;
  border: 2px solid purple;
  border-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  background-color: cadetblue;
  font-weight: bold;
}
footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}
